---
layout: layouts/base.njk
eleventyNavigation:
  key: Components
  order: 2
---


<h1> Components </h1>

<button class="primary">Primary</button>
<button class="outline">Outline</button>

<section>
  <span class="badge info">info</span><br/>
  <span class="badge success">success</span><br/>
  <span class="badge warning">warning</span><br/>
  <span class="badge danger">danger</span><br/>
</section>