---
layout: layouts/base.njk
eleventyNavigation:
  key: Components
---


<h1> Components </h1>

<h2>Buttons</h2>
<p><button class="primary">Primary</button></p>
<p><button class="outline">Outline</button></p>

<h2>Badges</h2>
<section>
  <p><span class="badge info">info</span></p>
  <p><span class="badge success">success</span></p>
  <p><span class="badge warning">warning</span></p>
  <p><span class="badge danger">danger</span></p>
</section>