---
layout: layouts/base.njk
eleventyNavigation:
  key: Graphics
---


<h1>Graphics</h1>

<picture>
  <source srcset="/images/files.svg" media="(prefers-color-scheme: light)">
  <source srcset="/images/files-dark.svg" media="(prefers-color-scheme: dark)">
  <img src="/images/files.svg" />
</picture>

<picture>
  <source srcset="/images/empty.svg" media="(prefers-color-scheme: light)">
  <source srcset="/images/empty-dark.svg" media="(prefers-color-scheme: dark)">
  <img src="/images/empty.svg" />
</picture>