---
layout: layouts/base.njk
eleventyNavigation:
  key: Graphics
  order: 3
---


<h1>Graphics</h1>

<picture>
  <source srcset="/images/files.svg" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
  <source srcset="/images/files-dark.svg" media="(prefers-color-scheme: dark)">
  <img style="width: 15rem" src="/images/files.svg" />
</picture>

<picture>
  <source srcset="/images/empty.svg" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
  <source srcset="/images/empty-dark.svg" media="(prefers-color-scheme: dark)">
  <img style="width: 15rem" src="/images/empty.svg" />
</picture>