---
layout: layouts/base.njk
eleventyNavigation:
  key: Graphics
  order: 3
---


<h1>Graphics</h1>

<picture>
  <source srcset="/images/files-hc.svg" media="(prefers-contrast: more) and (prefers-color-scheme: light)">
  <source srcset="/images/files-hcDark.svg" media="(prefers-contrast: more) and (prefers-color-scheme: dark)">
  <source srcset="/images/files-light.svg" media="(prefers-color-scheme: light)">
  <source srcset="/images/files-dark.svg" media="(prefers-color-scheme: dark)">
  <img src="/images/files-light.svg" />
</picture>

<picture>
  <source srcset="/images/empty-hc.svg" media="(prefers-contrast: more) and (prefers-color-scheme: light)">
  <source srcset="/images/empty-hcDark.svg" media="(prefers-contrast: more) and (prefers-color-scheme: dark)">
  <source srcset="/images/empty-light.svg" media="(prefers-color-scheme: light)">
  <source srcset="/images/empty-dark.svg" media="(prefers-color-scheme: dark)">
  <img src="/images/empty-light.svg" />
</picture>