body {
  background-color: var(--color-background-primary);
  color: var(--color-font-primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.badge {
  padding: 1rem;
  border-radius: var(--component-badge-border-radius);
  background-color: var(--component-badge-background-color);
  color: var(--component-badge-color);
}

.badge.danger {
  background-color: var(--component-badge-variant-danger-background-color);
  color: var(--component-badge-variant-danger-color);
}

.badge.warning {
  background-color: var(--component-badge-variant-warning-background-color);
  color: var(--component-badge-variant-warning-color);
}

.badge.success {
  background-color: var(--component-badge-variant-success-background-color);
  color: var(--component-badge-variant-success-color);
}
